body {
	
	background-color: white;
}

a:hover {

	text-decoration:none; 
    cursor:pointer;
}

html {

	scroll-behavior: smooth;
}

.icon {

	width: 10rem;
	margin-top: 2.5rem;
	margin-bottom: 2rem;
}

.heading {

	font-size: 2.5rem;
	font-family: 'Anaheim', sans-serif;

	color : #263854;
}

.heading2 {

	font-size: 1.5rem;
	font-family: 'Abel', sans-serif;

	margin-top: 1.4rem;

	color: #263854;

	margin-bottom: 2rem;
}

.getStarted1 {

	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	padding-left: 1.2rem;
	padding-right: 1.2rem;

	margin-top: 2rem;

	width: 18rem;

	border-radius: 1.5rem;
	border-width: 0.2rem;

	border : none;

	background: #3d5e8c;
	color : white;

	font-family: 'Anaheim', sans-serif;
	font-size: 1.3rem;
}

.getStarted2 {

	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	padding-left: 1.2rem;
	padding-right: 1.2rem;

	margin-top: 2rem;

	width: 18rem;

	border-radius: 1.5rem;
	border-width: 0.2rem;

	border : none;

	background: #523e5b;
	color : white;

	font-family: 'Anaheim', sans-serif;
	font-size: 1.3rem;
}

button:hover {

	cursor: pointer;
}

button:focus {

	outline: 0 !important;
}

.explain {

	margin-top: 10rem;
	background-color: #313642;
}

.explain2 {

	margin-top: -0.5rem;
	background-color: #443a56;
}

.explain3 {

	margin-top: -0.5rem;
	background-color: #423544;
}

.explain4 {

	margin-top: -0.5rem;
	background-color: #252326;
}

.imagePara {

	width: 12rem;
	float: right;

	padding-top: 1rem;
}

.heading3 {

	font-size: 1.8rem;
	font-family: 'Anaheim', sans-serif;

	color : white;
}

.textPara {

	font-size: 1.20rem;
	font-family: 'Abel', sans-serif;

	color: white;
}

.textPara2 {

	font-size: 1.25rem;
	font-family: 'Abel', sans-serif;

	color: white;
}