body {
	
	background-color: white;
}

a:hover {

    cursor: pointer;
}

html {

	scroll-behavior: smooth;
}

.icon {

	width: 10rem;
	margin-top: 2.5rem;
	margin-bottom: 2rem;
}

.heading {

	font-size: 2.5rem;
	font-family: 'Anaheim', sans-serif;

	color : #263854;
}

.heading2 {

	font-size: 1.5rem;
	font-family: 'Abel', sans-serif;

	margin-top: 1.4rem;

	color: #263854;

	margin-bottom: 2rem;
}

.getStarted {

	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	padding-left: 1.2rem;
	padding-right: 1.2rem;

	margin-top: 2rem;

	width: 18rem;

	border-radius: 1.5rem;
	border-width: 0.2rem;

	border : none;

	background: #5e4a63;
	color : white;

	font-family: 'Anaheim', sans-serif;
	font-size: 1.3rem;
}

button:hover {

	cursor: pointer;
}

button:focus {

	outline: 0 !important;
}

.explain {

	margin-top: 6rem;
	background-color: #313642;
}

.userForm {

	margin-top: -0.5rem;
}

.heading3 {

	font-size: 1.8rem;
	font-family: 'Abel', sans-serif;

	color : #373b42;
}

.textPara {

	font-size: 1.20rem;
	font-family: 'Abel', sans-serif;

	color: white;
}

.loader {

	width: 15rem;
	display: none;
}

.message {

	margin-left: 0.5%;
	font-size: 1.1rem;
	font-family: 'Abel', sans-serif;

	width : 85%;
}

.formInput {

	font-size: 1.3rem;
	font-family: 'Abel', sans-serif;

	width: 80%;

	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 1%;

	text-decoration-color: #5e4a63;
	font-weight: bold;

	border-color:  #5e4a63 !important;
	border-width: 0.15rem !important;

	border-style: solid;

	color : #443a59;
}
