body {
	
	background-color: white;
}

a:hover {

	text-decoration:none; 
    cursor:pointer;
}

html {

	scroll-behavior: smooth;
}

.icon {

	width: 10rem;
	margin-top: 2.5rem;
	margin-bottom: 2rem;
}

.heading {

	font-size: 2.5rem;
	font-family: 'Anaheim', sans-serif;

	color : #263854;
}

.heading2 {

	font-size: 1.5rem;
	font-family: 'Abel', sans-serif;

	margin-top: 1.4rem;

	color: #263854;

	margin-bottom: 2rem;
}

.loader {

	width: 15rem;
	display: none;
}

.message {

	margin-left: 0.5%;
	font-size: 1.1rem;
	font-family: 'Abel', sans-serif;

	display: none;

	width : 85%;
}

.getStarted{

	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	padding-left: 1.2rem;
	padding-right: 1.2rem;

	margin-top: 2rem;

	width: 15rem;

	border-radius: 1.5rem;
	border-width: 0.2rem;

	border : none;

	background: #727296;
	color : white;

	font-family: 'Anaheim', sans-serif;
	font-size: 1.2rem;
}

.getStarted1 {

	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	padding-left: 1.2rem;
	padding-right: 1.2rem;

	margin-top: 2rem;

	width: 15rem;

	border-radius: 1.5rem;
	border-width: 0.2rem;

	border : none;
	color : white;

	font-family: 'Anaheim', sans-serif;
	font-size: 1.2rem;
}

button:hover {

	cursor: pointer;
}

button:focus {

	outline: 0 !important;
}

.explain {

	margin-top: 5rem;
	background-color: #464659;
}

.heading3 {

	font-size: 1.8rem;
	font-family: 'Anaheim', sans-serif;

	color : white;
}

.textPara {

	font-size: 1.20rem;
	font-family: 'Abel', sans-serif;

	color: white;
}

.jumboHead {

	font-size: 2rem;
	font-family: 'Abel', sans-serif;

	color : #263854;
}

.jumboText {

	font-size: 1.3rem;
	font-family: 'Abel', sans-serif;

	color : #263854;

	margin-top: 1rem;

	word-wrap: break-word !important;
}

@media only screen  and (min-width : 1024px) {

.geoLoc {

	width: 60rem !important;
	height: 30rem !important;
}
}

@media only screen and (min-device-width : 300px) and (max-device-width : 940px) and (orientation : landscape) {

.geoLoc {

	width: 40rem !important;
	height: 30rem !important;
}
}